# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Maven and Gradle directories
target/
build/

# IntelliJ IDEA project files
.idea/
*.iml

# Eclipse project files
.project
.classpath

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

/out
